.container-todo {
  margin-top: 1rem;
}

.todo {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 0.5rem;
}

.inputTodo {
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0 5rem;
  font-weight: var(--fw-700);
}

.completed {
  color: rgb(163, 163, 163);
  text-decoration: line-through;
}

.completed:hover {
  transition: 0.2s ease;
}

.noCompleted {
  display: none;
}

.noActived {
  display: none;
}
